html,body{
    margin: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
}
canvas{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    padding: 0;
}















a{
    text-decoration: none;
    font-family: Abel;
    color: white;
}
.navigation{
    padding: 1rem 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
}
.navigation .brand a{
    font-size: 1.6rem;
    padding: 1rem ;
}
.navigation .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation .nav-menu{
    margin: 0;
    display: flex;
    list-style-type: none;
}
.navigation .nav-menu a{
    padding: 0 1.5rem;
    font-size: 1.1rem;
    position: relative;
    font-size: 1.1rem;
}